*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(235, 235, 235);
}

#producto{
    margin: 20px;
    padding: 10px;
    max-width: 100%;
    display: grid;
    justify-content: center;
}

.container{
    display: flex;
    width: 1000px;
    height: auto;
    align-items: center;
    background-color: white;
    border-top: 1px solid transparent;
    border-top-left-radius: 50px;
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
}
.especificaciones{
    padding-top: 10px;
    padding-left: 10%;
}

.link{
    padding-top: 10px;
}

.title{
    padding-top: 10px;
}

.precio{
    padding-top: 10px;
}

.descripcion{
    padding-top: 10px;
}

.descripcion p{
    padding-bottom: 10px;
}

.caracteristicas li{
    padding-top: 5px;
}

.link{
    padding-top: 10px;
}

#coments{
    width: 1000px;
    height: auto;
    align-items: center;
    background-color: white;
    padding-top: 10px;
}

.comentarios{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comentarios p{
    padding-top: 10px;
    margin: auto 20px;
}